.tbt-tooltip__container {
  position: relative;
}

.tbt-tooltip__container .mdl-tooltip {
  position: absolute !important;
  left: 50% !important;
  top: 100% !important;
  transform: translateX(-50%) !important;
  opacity: 0;
}
