<div class="tbt-view__history">
	<div class="tbt-timeline__nav">
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect tbt-timeline__navButton tbt-timeline__left">
			<i class="material-icons icon-keyboard_arrow_left"></i>
		</button>
		<nav class="tbt-timeline__navInner">
			<div class="tbt-timeline__hr--alt"></div>
			<div class="tbt-timeline__hr"></div>
			<ul class="tbt-timeline__dots">
				<li>
					<div class="mdl-typography--body-2">
						<b>1:10 PM</b>
					</div>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
						<input type="radio" class="mdl-radio__button" name="options" value="1" checked>
					</label>
				</li>
				<li>
					<div class="mdl-typography--body-2">
						1:10 PM
					</div>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
						<input type="radio" class="mdl-radio__button" name="options" value="1">
					</label>
				</li>
				<li>
					<div class="mdl-typography--body-2">
						1:10 PM
					</div>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
						<input type="radio" class="mdl-radio__button" name="options" value="1">
					</label>
				</li>
				<li>
					<div class="mdl-typography--body-2">
						1:10 PM
					</div>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
						<input type="radio" class="mdl-radio__button" name="options" value="1">
					</label>
				</li>
				<li>
					<div class="mdl-typography--body-2">
						1:10 PM
					</div>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
						<input type="radio" class="mdl-radio__button" name="options" value="1">
					</label>
				</li>
				<li>
					<div class="mdl-typography--body-2">
						1:10 PM
					</div>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
						<input type="radio" class="mdl-radio__button" name="options" value="1">
					</label>
				</li>
				<li>
					<div class="mdl-typography--body-2">
						1:10 PM
					</div>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
						<input type="radio" class="mdl-radio__button" name="options" value="1">
					</label>
				</li>
				<li>
					<div class="mdl-typography--body-2">
						1:10 PM
					</div>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
						<input type="radio" class="mdl-radio__button" name="options" value="1">
					</label>
				</li>
				<li>
					<div class="mdl-typography--body-2">
						1:10 PM
					</div>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
						<input type="radio" class="mdl-radio__button" name="options" value="1">
					</label>
				</li>
				<li>
					<div class="mdl-typography--body-2">
						1:10 PM
					</div>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
						<input type="radio" class="mdl-radio__button" name="options" value="1">
					</label>
				</li>
				<li>
					<div class="mdl-typography--body-2">
						2:10 PM
					</div>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
						<input type="radio" class="mdl-radio__button" name="options" value="1">
					</label>
				</li>
				<li>
					<div class="mdl-typography--body-2">
						4:10 PM
					</div>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
						<input type="radio" class="mdl-radio__button" name="options" value="1">
					</label>
				</li>
				<li>
					<div class="mdl-typography--body-2">
						1:10 PM
					</div>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
						<input type="radio" class="mdl-radio__button" name="options" value="1">
					</label>
				</li>
				<li>
					<div class="mdl-typography--body-2">
						1:10 PM
					</div>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
						<input type="radio" class="mdl-radio__button" name="options" value="1">
					</label>
				</li>
				<li>
					<div class="mdl-typography--body-2">
						1:10 PM
					</div>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
						<input type="radio" class="mdl-radio__button" name="options" value="1">
					</label>
				</li>
				<li>
					<div class="mdl-typography--body-2">
						1:10 PM
					</div>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
						<input type="radio" class="mdl-radio__button" name="options" value="1">
					</label>
				</li>
				<li>
					<div class="mdl-typography--body-2">
						1:10 PM
					</div>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
						<input type="radio" class="mdl-radio__button" name="options" value="1">
					</label>
				</li>
				<li>
					<div class="mdl-typography--body-2">
						1:10 PM
					</div>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
						<input type="radio" class="mdl-radio__button" name="options" value="1">
					</label>
				</li>
				<li>
					<div class="mdl-typography--body-2">
						1:10 PM
					</div>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
						<input type="radio" class="mdl-radio__button" name="options" value="1">
					</label>
				</li>
				<li>
					<div class="mdl-typography--body-2">
						1:10 PM
					</div>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
						<input type="radio" class="mdl-radio__button" name="options" value="1">
					</label>
				</li>
				<li>
					<div class="mdl-typography--body-2">
						1:10 PM
					</div>
					<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
						<input type="radio" class="mdl-radio__button" name="options" value="1">
					</label>
				</li>
			</ul>
		</nav>
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect tbt-timeline__navButton tbt-timeline__right">
			<i class="material-icons icon-keyboard_arrow_right"></i>
		</button>
	</div>
	<div class="tbt-timeline__view">
		sometihng to show here
	</div>
</div>
