<div class="tbt-view__history">
	<div class="tbt_sessions__view mdl-grid">
		<!-- each template session is loaded here -->
	</div>
	<div class="tbt_timeline__container">
		<div class="tbt-timeline__nav">
			<div class="tbt-tooltip__container">
				<button id="timeline__left" class="mdl-button mdl-js-button mdl-js-ripple-effect tbt-timeline__navButton tbt-timeline__left">
					<i class="material-icons icon-keyboard_arrow_left"></i>
				</button>
				<div class="mdl-tooltip" for="timeline__left">
					Newer
				</div>
			</div>
			<nav class="tbt-timeline__navInner">
				<div class="tbt-timeline__hr--alt"></div>
				<div class="tbt-timeline__hr"></div>
				<ul class="tbt-timeline__dots">
					<li>
						<div class="mdl-typography--body-2">
							<b>1:10 PM</b>
						</div>
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
							<input type="radio" class="mdl-radio__button" name="tbt-timeline__radio" checked>
						</label>
					</li>
					<li>
						<div class="mdl-typography--body-2">
							1:10 PM
						</div>
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
							<input type="radio" class="mdl-radio__button" name="tbt-timeline__radio">
						</label>
					</li>
					<li>
						<div class="mdl-typography--body-2">
							1:10 PM
						</div>
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
							<input type="radio" class="mdl-radio__button" name="tbt-timeline__radio">
						</label>
					</li>
					<li>
						<div class="mdl-typography--body-2">
							1:10 PM
						</div>
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
							<input type="radio" class="mdl-radio__button" name="tbt-timeline__radio">
						</label>
					</li>
					<li>
						<div class="mdl-typography--body-2">
							1:10 PM
						</div>
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
							<input type="radio" class="mdl-radio__button" name="tbt-timeline__radio">
						</label>
					</li>
					<li>
						<div class="mdl-typography--body-2">
							1:10 PM
						</div>
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
							<input type="radio" class="mdl-radio__button" name="tbt-timeline__radio">
						</label>
					</li>
					<li>
						<div class="mdl-typography--body-2">
							1:10 PM
						</div>
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
							<input type="radio" class="mdl-radio__button" name="tbt-timeline__radio">
						</label>
					</li>
					<li>
						<div class="mdl-typography--body-2">
							1:10 PM
						</div>
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
							<input type="radio" class="mdl-radio__button" name="tbt-timeline__radio">
						</label>
					</li>
					<li>
						<div class="mdl-typography--body-2">
							1:10 PM
						</div>
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
							<input type="radio" class="mdl-radio__button" name="tbt-timeline__radio">
						</label>
					</li>
					<li>
						<div class="mdl-typography--body-2">
							1:10 PM
						</div>
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
							<input type="radio" class="mdl-radio__button" name="tbt-timeline__radio">
						</label>
					</li>
					<li>
						<div class="mdl-typography--body-2">
							2:10 PM
						</div>
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
							<input type="radio" class="mdl-radio__button" name="tbt-timeline__radio">
						</label>
					</li>
					<li>
						<div class="mdl-typography--body-2">
							4:10 PM
						</div>
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
							<input type="radio" class="mdl-radio__button" name="tbt-timeline__radio">
						</label>
					</li>
					<li>
						<div class="mdl-typography--body-2">
							1:10 PM
						</div>
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
							<input type="radio" class="mdl-radio__button" name="tbt-timeline__radio">
						</label>
					</li>
					<li>
						<div class="mdl-typography--body-2">
							1:10 PM
						</div>
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
							<input type="radio" class="mdl-radio__button" name="tbt-timeline__radio">
						</label>
					</li>
					<li>
						<div class="mdl-typography--body-2">
							1:10 PM
						</div>
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
							<input type="radio" class="mdl-radio__button" name="tbt-timeline__radio">
						</label>
					</li>
					<li>
						<div class="mdl-typography--body-2">
							1:10 PM
						</div>
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
							<input type="radio" class="mdl-radio__button" name="tbt-timeline__radio">
						</label>
					</li>
					<li>
						<div class="mdl-typography--body-2">
							1:10 PM
						</div>
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
							<input type="radio" class="mdl-radio__button" name="tbt-timeline__radio">
						</label>
					</li>
					<li>
						<div class="mdl-typography--body-2">
							1:10 PM
						</div>
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
							<input type="radio" class="mdl-radio__button" name="tbt-timeline__radio">
						</label>
					</li>
					<li>
						<div class="mdl-typography--body-2">
							1:10 PM
						</div>
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
							<input type="radio" class="mdl-radio__button" name="tbt-timeline__radio">
						</label>
					</li>
					<li>
						<div class="mdl-typography--body-2">
							1:10 PM
						</div>
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
							<input type="radio" class="mdl-radio__button" name="tbt-timeline__radio">
						</label>
					</li>
					<li>
						<div class="mdl-typography--body-2">
							9:10 PM
						</div>
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
							<input type="radio" class="mdl-radio__button" name="tbt-timeline__radio">
						</label>
					</li>
				</ul>
			</nav>
			<div class="tbt-tooltip__container">
				<button id="tbt-timeline__right" class="mdl-button mdl-js-button mdl-js-ripple-effect tbt-timeline__navButton tbt-timeline__right">
					<i class="material-icons icon-keyboard_arrow_right"></i>
				</button>
				<div class="mdl-tooltip" for="tbt-timeline__right">
					Older
				</div>
			</div>
		</div>
		<div class="tbt-timeline__view">
			<section class="tbt-timeline__section tbt-timeline__section--active">
				25
			</section>
			<section class="tbt-timeline__section">
				2
			</section>
			<section class="tbt-timeline__section">
				2
			</section>
			<section class="tbt-timeline__section">
				2
			</section>
			<section class="tbt-timeline__section">
				2
			</section>
			<section class="tbt-timeline__section">
				2
			</section>
			<section class="tbt-timeline__section">
				2
			</section>
			<section class="tbt-timeline__section">
				2
			</section>
			<section class="tbt-timeline__section">
				2
			</section>
			<section class="tbt-timeline__section">
				2
			</section>
			<section class="tbt-timeline__section">
				2
			</section>
			<section class="tbt-timeline__section">
				2
			</section>
			<section class="tbt-timeline__section">
				2
			</section>
			<section class="tbt-timeline__section">
				2
			</section>
			<section class="tbt-timeline__section">
				2
			</section>
			<section class="tbt-timeline__section">
				2
			</section>
			<section class="tbt-timeline__section">
				2
			</section>
			<section class="tbt-timeline__section">
				2
			</section>
			<section class="tbt-timeline__section">
				2
			</section>
			<section class="tbt-timeline__section">
				2
			</section>
			<section class="tbt-timeline__section">
				2
			</section>
		</div>
	</div>
</div>
