<div class="tbt-view__now">
  <div class="tbt-table mdl-shadow--2dp">
    <div class="tbt-head">
      <div class="tbt-head__title">
        <!-- Number badge shows the window id -->
        Window
        <span class="mdl-badge" data-badge="1"></span>
      </div>
      <div class="tbt-head__action">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="tbt-action__filter">
            <i class="material-icons icon-filter_list"></i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" id="tbt-action__filter">
            <label class="mdl-textfield__label" for="tbt-action__filter">Filter</label>
            <!-- <input class="mdl-textfield__input" type="text" name="tbt-action__filter" id="tbt-action__filter"> -->
          </div>
        </div>
        <!-- Right aligned menu below button -->
        <button id="tbt-table__cardOverflow" class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons icon-more_vert"></i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="tbt-table__cardOverflow">
          <li class="mdl-menu__item">Some Action</li>
          <li class="mdl-menu__item">Another Action</li>
          <li disabled class="mdl-menu__item">Disabled Action</li>
          <li class="mdl-menu__item">Yet Another Action</li>
        </ul>
      </div>
    </div>
    <div class="tbt-body">
      <div class="tbt-table__column">
        <div class="tbt-row">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
            <input type="checkbox" class="mdl-checkbox__input">
            <span class="mdl-checkbox__label"></span>
          </label>
        </div>
        <div class="tbt-row">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
            <input type="checkbox" class="mdl-checkbox__input">
            <span class="mdl-checkbox__label"></span>
          </label>
        </div>
        <div class="tbt-row">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
            <input type="checkbox" class="mdl-checkbox__input">
            <span class="mdl-checkbox__label"></span>
          </label>
        </div>
        <div class="tbt-row">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
            <input type="checkbox" class="mdl-checkbox__input">
            <span class="mdl-checkbox__label"></span>
          </label>
        </div>
      </div>
      <div class="tbt-table__column">
        <div class="tbt-row">
          Title
        </div>
        <div class="tbt-row">
          data
        </div>
        <div class="tbt-row">
          data
        </div>
        <div class="tbt-row">
          data
        </div>
      </div>
      <div class="tbt-table__column">
        <div class="tbt-row">
          Url
        </div>
        <div class="tbt-row">
          data
        </div>
        <div class="tbt-row">
          data
        </div>
        <div class="tbt-row">
          data
        </div>
      </div>
      <div class="tbt-table__column">
        <div class="tbt-row">
          Opened
        </div>
        <div class="tbt-row">
          data
        </div>
        <div class="tbt-row">
          data
        </div>
        <div class="tbt-row">
          data
        </div>
      </div>
      <div class="tbt-table__column">
        <div class="tbt-row">
          Id
        </div>
        <div class="tbt-row">
          data
        </div>
        <div class="tbt-row">
          data
        </div>
        <div class="tbt-row">
          data
        </div>
      </div>
    </div>
  </div>
  <div class="tbt-table mdl-shadow--2dp">
    <div class="tbt-head">
      <div class="tbt-head__title">
        <!-- Number badge shows the window id -->
        Window
        <span class="mdl-badge" data-badge="2"></span>
      </div>
      <div class="tbt-head__action">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="tbt-action__filter">
            <i class="material-icons icon-filter_list"></i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" id="tbt-action__filter">
            <label class="mdl-textfield__label" for="tbt-action__filter">Filter</label>
            <!-- <input class="mdl-textfield__input" type="text" name="tbt-action__filter" id="tbt-action__filter"> -->
          </div>
        </div>
        <!-- Right aligned menu below button -->
        <button id="tbt-table__cardOverflow" class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons icon-more_vert"></i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="tbt-table__cardOverflow">
          <li class="mdl-menu__item">Some Action</li>
          <li class="mdl-menu__item">Another Action</li>
          <li disabled class="mdl-menu__item">Disabled Action</li>
          <li class="mdl-menu__item">Yet Another Action</li>
        </ul>
      </div>
    </div>
    <div class="tbt-body">
      <div class="tbt-table__column">
        <div class="tbt-row">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
            <input type="checkbox" class="mdl-checkbox__input">
            <span class="mdl-checkbox__label"></span>
          </label>
        </div>
        <div class="tbt-row">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
            <input type="checkbox" class="mdl-checkbox__input">
            <span class="mdl-checkbox__label"></span>
          </label>
        </div>
        <div class="tbt-row">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
            <input type="checkbox" class="mdl-checkbox__input">
            <span class="mdl-checkbox__label"></span>
          </label>
        </div>
        <div class="tbt-row">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
            <input type="checkbox" class="mdl-checkbox__input">
            <span class="mdl-checkbox__label"></span>
          </label>
        </div>
      </div>
      <div class="tbt-table__column">
        <div class="tbt-row">
          Title
        </div>
        <div class="tbt-row">
          data
        </div>
        <div class="tbt-row">
          data
        </div>
        <div class="tbt-row">
          data
        </div>
      </div>
      <div class="tbt-table__column">
        <div class="tbt-row">
          Url
        </div>
        <div class="tbt-row">
          data datadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadatadata
        </div>
        <div class="tbt-row">
          data
        </div>
        <div class="tbt-row">
          data
        </div>
      </div>
      <div class="tbt-table__column">
        <div class="tbt-row">
          Opened
        </div>
        <div class="tbt-row">
          data
        </div>
        <div class="tbt-row">
          data
        </div>
        <div class="tbt-row">
          data
        </div>
      </div>
      <div class="tbt-table__column">
        <div class="tbt-row">
          Id
        </div>
        <div class="tbt-row">
          data
        </div>
        <div class="tbt-row">
          data
        </div>
        <div class="tbt-row">
          data
        </div>
      </div>
    </div>
  </div>
</div>
