<!-- grid view item -->
<div class="tbt-sessions__card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--2-col">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">
      12 Jan
    </h2>
    <span class="mdl-card__title-span">
      2016
    </span>
  </div>
  <div class="mdl-card__supporting-text">
    Last Activity : <br>
    <b>7:30 PM</b>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <button data-action="details" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
      Details<i class="material-icons icon-history"></i>
    </button>
    <button data-action="session" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Session<i class="material-icons icon-open_in_browser"></i>
    </button>
  </div>
</div>
<!-- List view item -->
<div class="tbt-sessions__item mdl-list__item mdl-shadow--2dp">
  <span class="mdl-list__item-primary-content">
    <b>
      12 Jan
    </b>
    <span class="mdl-list__item-title">
      2016
    </span>
    | Last Activity :
    <span class="mdl-list__item-sub-title">
      7:30 PM
    </span>
  </span>
  <span class="mdl-list__item-secondary-content">
    <!-- Right aligned menu below button -->
    <button id="demo-menu-lower-right"
    class="mdl-button mdl-js-button mdl-button--icon">
    <i class="material-icons icon-more_vert"></i>
  </button>
  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
    <li class="mdl-menu__item">View Details</li>
    <li class="mdl-menu__item">Open Session</li>
  </ul>
</span>
</div>
