<div class="tbt-sessions__card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--2-col">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">
      12 Jan
    </h2>
    <span class="mdl-card__title-span">
      2016
    </span>
  </div>
  <div class="mdl-card__supporting-text">
    Last Activity : <br>
    <b>7:30 PM</b>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <button data-action="details" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
      Details<i class="material-icons icon-history"></i>
    </button>
    <button data-action="session" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Session<i class="material-icons icon-open_in_browser"></i>
    </button>
  </div>
</div>
